In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#matplotlib inline

In [2]:
data = pd.read_csv("MCMC_CPU/samples.csv", header=None)

In [3]:
data

      -0.245225         0
0     -0.960369 -1.719100
1     -1.719100 -2.949940
2     -1.719100 -2.949940
3     -1.947310 -1.062080
4     -1.062080 -0.184819
...         ...       ...
9994   0.702701  0.774621
9995   0.372877  0.179408
9996   0.179408  0.353901
9997   0.353901  0.468213
9998   0.353901  0.468213

[9999 rows x 2 columns]